
html{
    scroll-behavior: smooth;

}
.container{
    max-width: 1140px;
    padding: 0 10px;
    margin: 0px auto;
}
body{
    font-family: 'inter';
    font-weight: 300px;
    color: #1F1F1F;
    letter-spacing: 0.2px;
}

/* Хедер */
.header{

}
.header__top{
    background-color: #fff;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    padding: 20px 2px 10px 2px;
    z-index: 50;
}
.header__logo>a {
    transition: 0.3s ease 0s;
}
.menu {
    margin-left: 37px;
}
.menu__items {
    display: flex;
    gap: 24px;
    
}
.menu__item {
    font-size: 15px;
    line-height: 24px;
    color: #33383F;
}
.sign {
    margin-left: 445px;
}
.sign__a{
    color: #0070A0;
    font-size: 15px;
    line-height: 24px;
    width: 50px;

}
.button {
    width: 174px;
    height: 43px;
    background-color: #0070A0;
    color: #fff;
    font-size: 17px;
    line-height: 27px;
}
.header__button {
    margin-left: 31px;
}
.header__btn {
    width: 139px;
    height: 36px;
    font-size: 15px;
    line-height: 24px;
}
.header__content {
    display: flex;
    gap: 153px;
    margin-top: 70px;
}
.header__content-text {
    max-width: 525px;
}
.header_h1 {
    font-family: 'Fraunces';
    font-size: 58px;
    line-height: 63.8px;
    padding-top: 56px;
}
.header__info {
    font-size: 20px;
    line-height: 30px;
    padding: 16px 0px 32px 0px;

}
.header__link{
    display: inline-block;
    padding-left: 24px;
    position: relative;
    /* gap: 5px; */

}
.header__more {
    font-size: 17px;
    line-height: 27px;
    color: #0070A0;
    /* display: flex; */
}
.header__arrow::after{
    content: '';
    position: absolute;
}
.header__arrow::after{
    width: 12px;
    height: 12px;
    border-top: 2px solid #006B99;
    border-right: 2px solid #006B99;
    transform: rotate(45deg);
    top: 9px;
    right: -10px;
}
.header__content-img {
    width: 452px;
    height: 422px;
}
.header__img {
}
.main {
}
.advantages {
    margin-top: 131px;
}
.trusted {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trusted__p {
    font-size: 24px;
    line-height: 37.5px;
}
.trusted__img {
    margin-top: 24px;
    /* gap: 61px; */
}
.trusted__img-item:not(:last-child) {
    margin-right: 61px;
}
.arguments {
    display: flex;
    gap: 32px;
    margin-top: 160px;
}
.arguments__1 {
    width: 355px;
    height: 250px;
    background-color: #FAEA73;
    padding: 32px 32px;
}
.column {
}
.arguments__img {
}
.column__img {
}
.arguments__h3 {
    
}
.column__h3 {
    font-family: 'Fraunces';
    font-size: 25px;
    line-height: 31.3px;
    margin-top: 8px;
    
}
.arguments__p {
}
.column__p {
    font-size: 15px;
    line-height: 24px;
    margin-top: 11px;
}
.arguments__2 {
    width: 355px;
    height: 250px;
    background-color: #CCEFF6;
    padding: 32px 32px;

}
.arguments__3 {
    width: 355px;
    height: 250px;
    background-color: #F7CEDC;
    padding: 32px 32px;

}
.care {
    background-color: #F7F9FA;
    margin-top: 120px;
    padding-top: 79px;
}
.care__content {
    display: flex;
    gap: 140px;
}
.care__content-h2 {
    font-family: 'Fraunces';
    font-size: 42px;
    line-height: 50.4px;
}
.accordion{
    width: 450px;
    margin-top: 34px;
    padding-bottom: 50px;
}
.care__img {
    width: 481px;
    height: 479px;
}
.care__img-item {
}
.whirt {
    padding: 120px 0px 120px;
}
.whirt__cont{
    display: flex;

}
.whirt__title {
    font-family: 'Fraunces';
    font-size: 42px;
    line-height: 50.4px;
    width: 300px;
    height: 218px;
    margin-right: 98px;
}
.whirt__text {
    display: flex;
    gap: 32px;
    align-items: center;
}
.whirt__text-1 {
    width: 223px;
    padding-top: 62px;
    /* height: 218px; */
}
.whirt__text-h3 {
}
.whirt__text-p {
}
.whirt__text-2 {
    width: 223px;
    /* height: 218px; */


}
.whirt__text-img {
}
.whirt__text-3 {
    width: 223px;
    /* height: 218px; */

}
.set {
    background-color: #0070A0;

}
.set__cont{
    display: flex;
    gap: 187px;
    padding: 80px 0px 97px;

}
.set__img {
    width: 382px;
    height: 374px;
    padding-left: 60px;
}
.set__content {
    width: 501px;
}
.set__content-h3 {
    font-family: 'Fraunces';
    font-size: 42px;
    color: #fff;
    line-height: 50.4px;
}
.set__content-p {
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-top: 21px;

}
.set__list {

}
.set__list-item {
    font-size: 16px;
    color: #fff;
    line-height: 21.6px;
    margin-top: 20px;
    padding-left: 18px;
    position: relative;


}
.set__list-item::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(145deg);
    top: 4px;
    left: 1px;
}
.set__button{
    margin-top: 17px;
}
.tasks {
    margin: 120px 0px 120px;
}
.tasks__title {
    width: 650px;
}
.tasks__title-h2{
    font-family: 'Fraunces';
    font-size: 42px;
    line-height: 50.4px;
}
.tasks__title-p{
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
}
.tasks__info {
    display: flex;
    gap: 64px;
    margin-top: 65px;
}
.tasks__info-1 {
    max-width: 234px;
}
.tasks__info-img {
}
.tasks__info-h3 {
    line-height: 31.3px;
}
.tasks__info-p {
}
.tasks__info-2 {
    max-width: 234px;

}
.tasks__info-3 {
    max-width: 234px;

}
.tasks__info-4 {
    max-width: 234px;

}
.smarted {
    background-color: #F7F9FA;
    padding: 79px 0px 80px;
}
.smarted__cont{
    display: flex;
    /* gap: 455px; */
    align-items: center;
    justify-content: space-between;
}
.smarted__title {
    font-family: 'Fraunces';
    font-size: 42px;
    line-height: 50.4px;
}
.smarted__link {
    font-size: 17px;
    color: #0070A0;
}
.smarted__card {
    margin-top: 32px;
    display: flex;
    gap: 32px;
}
.smarted__card-1 {
    background-color: #fff;

}
.smarted__card-img {
    width: 355px;
    height: 238px;
}
.smarted__card-content {
    padding: 24px;
}
.smarted__card-section {
    background-color: #E6F7FF;
    color: #2C90C9;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    display: inline-block;
    padding: 2px 12px;
}
.smarted__card-h3 {
    font-family: 'Fraunces';
    font-size: 25px;
    line-height: 31.3px;
    margin-top: 8px;
}
.smarted__card-p {
    font-size: 14px;
    line-height: 19.6px;
    margin-top: 11px;

}
.smarted__card-date {
    font-size: 12px;
    line-height: 19.6px;
    margin-top: 16px;

    
}
.smarted__card-2 {
    background-color: #fff;

}
.smarted__card-3 {
    background-color: #fff;

}
.started {
}
.started__content {
    background-color: #E6F7FF;
    margin-top: 80px;
    padding: 64px;
}
.started__content-h2 {
    font-family: 'Fraunces';
    font-size: 42px;
    line-height: 50.4px;
}
.started__content-p {
    font-size: 18px;
    line-height: 27px;
    margin: 18px 0px 36px;
}
.started__content-ul {
    margin-top: 20px;
    display: flex;
    gap: 32px;
}
.started__content-item {
    color: #626A72;
    font-size: 13px;
    line-height: 21px;
    position: relative;
    padding-left: 15px;

}
.started__content-item::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 7px;
    border-top: 2px solid #626A72;
    border-right: 2px solid #626A72;
    transform: rotate(145deg);
    top: 3px;
    left: 1px;
}
.footer {
    margin-top: 129px;
}
.footer__top {
    display: flex;
    margin-bottom: 64px;
    /* gap: 309px; */
}
.footer__logo {
}
.footer__logo-img {
    width: 135px;
    height: 47px;
}
.footer__logo-p1 {
    font-size: 14px;
    line-height: 19.6px;
    width: 143px;


}
.footer__logo-p1>a{
    color: #0070A0;
    font-size: 13px;
    line-height: 19.6px;
}
.footer__logo-p2 {
    font-size: 14px;
    line-height: 19.6px;
}
.footer__logo-p2>a{
    color: #0070A0;
    font-size: 13px;
    line-height: 19.6px;
}
.footer__menu {
    display: flex;
    margin-left: 309px;

}
.menu-1 {
    width: 216px;
}
.footer__menu-p {
    font-size: 15px;
    line-height: 24px;
}
.footer__menu-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__menu-item {
    color: #626A72;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
}
.footer__menu-item:not(:last-child){
}
.menu-2 {
    width: 216px;

}
.footer__sign{
    /* width: 216px; */
    margin-left: 16px;
}
.sign__title {
    font-size: 15px;
    line-height: 24px;
}
.sign__p {
    font-size: 16px;
    line-height: 24px;
}
.footer__form{
    width: 216px;
    height: 44px;
    margin-top: 16px;
    position: relative;
}
.form__item{
    padding: 17px 135px 7px 0px;

}
.form__item::placeholder{
    font-size: 13px;
    line-height: 20px;
    color: #626A72;
}
  
.form__btn::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid #006B99;
    border-right: 2px solid #006B99;
    transform: rotate(45deg);
    right: 1px;
    top: 17px;
}
.form__line{
    /* position: relative; */
    border-top: 2px solid #C2CDD8;
    /* z-index: 2; */
    padding-bottom: 0px;


}
.footer__line {
    border-top: 2px solid #DEE5EB;
}
.footer__bottom {
    margin-top: 36px;
    display: flex;
    gap: 620px;
    padding-bottom: 47px;
}
.footer__bottom-text {
}
.footer__bottom-p {
    font-size: 13px;
    line-height: 19.6px;
    width: 390px;
}
.footer__bottom-p>a{
    color: #0070A0;
}
.footer__bottom-share {
    display: flex;
    gap: 20px;
}